html{
    background-color:rgb(55, 114, 6); 
}
.form{
    background-color: aqua;
    
    border:dotted; 
    position: relative;
    padding-left: px;
    display: block;
    text-align: center;
    height: 400px;
    padding-top:12px;
    padding-bottom:12px;
    padding-right:12px;
    padding-left:12px;
    position: absolute;
    top:30%;
    right:40%;

}